.App {
  text-align: center;
}

.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu {height:22px; margin:0 auto; text-align: center; width: 90%; }
.menu li {
  display: inline-block;
  padding: 0 2%;  
}
.menu li a { color:#fff; text-decoration: none; }